requests==2.32.3
beautifulsoup4
lxml
fastapi
uvicorn[standard]
beautifulsoup4==4.12.3
lxml==5.3.0
streamlit==1.38.0
pandas==2.2.3
altair==5.4.1
typing_extensions==4.15.0
playwright==1.56.0
flair==0.13.1
fastapi==0.115.0
uvicorn==0.30.1
pymongo==4.9.2