server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  jackson:
    property-naming-strategy: SNAKE_CASE
  h2:
    console:
      enabled: true
      path: /h2-console
logging:
  level:
    root: INFO
    co.julia.scraping: DEBUG
jwt:
  secret: change-me-secret
cors:
  allowed-origins: http://localhost:5173,http://localhost:8000